<section class="it-hero-wrapper it-light it-overlay">
  <!-- - img-->
  <div class="img-responsive-wrapper">
    <div class="img-responsive">
        <div class="img-wrapper"><img src="https://gabrielmatteojonesblog.it/img/home.png" title="copertina" alt="copertina"></div>
    </div>
  </div>
  <!-- - texts-->
  <div class="container">
    <div class="row">
        <div class="col-12">
          <div class="it-hero-text-wrapper bg-dark">
              <span class="it-category">#about</span>
              <h5>Benvenuti sul blog di</h5>
              <h1>Oratopia</h1>
              <div class="it-btn-container"><a class="btn btn-sm btn-secondary" href="https://gabrieljones.it/progetti/oratopia/">Scopri chi sono</a></div>
          </div>
        </div>
    </div>
  </div>
</section>
