<header id="mainheader" class="it-header-wrapper it-header-sticky headerpnrr">

  <!-- Barra Regione FVG -->
  <div class="barrafvg it-header-slim-wrapper">
    <div class="container it-header-slim-wrapper-content p-0">
      <div>
        <a href="http://gabrieljones.it" aria-label="vai al sito gabrieljones" target="_blank" class="d-none d-lg-block ng-star-inserted">
<b>Gabriel Jones</b>
        </a>
        <div class="fvg-mobile ng-star-inserted">
          <a href="http://www.regione.fvg.it" aria-label="vai al sito della Regione Autonoma Friuli Venezia Giulia" target="_blank">
          <b>Gabriel Jones</b>
          </a>
        </div>
      </div>

      <!-- Area utente -->
      <div class="it-header-slim-right-zone">
        <div class="nav-item d-flex">
          <app-header-profile class="ng-star-inserted">
            <a class="btn btn-regione btn-icon btn-full ng-star-inserted">
              <span class="rounded-icon ng-star-inserted">
                <svg aria-label="utente" class="icon icon-primary">
                  <use xlink:href="https://www.comune.trieste.it/assets/bootstrap-italia/svg/sprite.svg#it-user"></use>
                </svg>
              </span>
              <span class="d-none d-lg-block ng-star-inserted">Accedi all'area personale</span>
            </a>
          </app-header-profile>
        </div>
      </div>
    </div>
  </div>

  <!-- Logo Comune + Social + Search -->
  <div class="it-nav-wrapper">
    <div class="it-header-center-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="it-header-center-content-wrapper">

              <!-- Logo Comune di Trieste -->
              <div class="it-brand-wrapper">
                <a href="/it">
                  <img alt="Comune di Trieste" src="/media/files/032006/logo/logo_trieste.png" style="height: 82px;">
                  <div class="it-brand-text">
                    <div class="it-brand-title">Comune di Trieste</div>
                    <div class="it-brand-tagline d-none d-md-block"></div>
                  </div>
                </a>
              </div>

              <!-- Social + Search -->
              <div class="it-right-zone">
                <div class="it-socials d-none d-md-flex">
                  <span class="ng-star-inserted">Seguici su</span>
                  <ul>
                    <li class="ng-star-inserted">
                      <a aria-label="Facebook" target="_blank" href="https://www.facebook.com/ComunediTrieste/timeline/">
                        <svg class="icon"><use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-facebook"></use></svg>
                      </a>
                    </li>
                    <li class="ng-star-inserted">
                      <a aria-label="Twitter" target="_blank" href="https://twitter.com/ComunediTrieste">
                        <svg class="icon"><use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-twitter"></use></svg>
                      </a>
                    </li>
                    <li class="list-inline-item ng-star-inserted">
                      <a aria-label="Instagram" target="_blank" href="https://instagram.com/comuneditrieste">
                        <svg class="icon"><use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-instagram"></use></svg>
                      </a>
                    </li>
                    <li class="list-inline-item ng-star-inserted">
                      <a aria-label="YouTube" target="_blank" href="https://www.youtube.com/user/triestecity">
                        <svg class="icon"><use xlink:href="assets/bootstrap-italia/svg/sprite.svg#it-youtube"></use></svg>
                      </a>
                    </li>
                  </ul>
                </div>

                <!-- Ricerca -->
                <div class="it-search-wrapper ng-star-inserted">
                  <span class="d-none d-md-block">Cerca</span>
                  <app-pnrr-search>
                    <a aria-label="cerca" href="javascript:void(0);" class="search-link rounded-icon">
                      <svg class="icon"><use href="assets/bootstrap-italia/svg/sprite.svg#it-search"></use></svg>
                    </a>
                  </app-pnrr-search>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Menu di navigazione -->
    <div class="it-header-navbar-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav aria-label="Navigazione principale" class="navbar navbar-expand-lg has-megamenu">
              <button type="button" class="custom-navbar-toggler" data-bs-target="#navC1" aria-controls="navC1" aria-expanded="false" aria-label="Mostra/Nascondi la navigazione">
                <svg class="icon"><use href="assets/bootstrap-italia/svg/sprite.svg#it-burger"></use></svg>
              </button>

              <div id="navC1" class="navbar-collapsable">
                <div class="overlay"></div>
                <div class="close-div">
                  <div type="button" class="btn close-menu">
                    <span class="visually-hidden">Nascondi la navigazione</span>
                    <svg class="icon icon-white"><use href="assets/bootstrap-italia/svg/sprite.svg#it-close-big"></use></svg>
                  </div>
                </div>

                <div class="menu-wrapper">
                  <ul class="navbar-nav" data-element="main-navigation">
                    <li class="nav-item ng-star-inserted" id="menu_drop_down0">
                      <a class="nav-link ps-0 ng-star-inserted" data-element="management" href="/it/amministrazione-227093">
                        <span>Amministrazione</span>
                      </a>
                    </li>
                    <li class="nav-item ng-star-inserted" id="menu_drop_down1">
                      <a class="nav-link ng-star-inserted" data-element="news" href="/it/novita-227102">
                        <span>Novità</span>
                      </a>
                    </li>
                    <li class="nav-item ng-star-inserted" id="menu_drop_down2">
                      <a class="nav-link ng-star-inserted" data-element="all-services" href="/it/servizi-227101">
                        <span>Servizi</span>
                      </a>
                    </li>
                    <li class="nav-item ng-star-inserted" id="menu_drop_down3">
                      <a class="nav-link ng-star-inserted" data-element="live" href="/it/vivere-il-comune-227106">
                        <span>Vivere il Comune</span>
                      </a>
                    </li>
                  </ul>

                  <ul class="navbar-nav" style="justify-content: flex-end;">
                    <li class="nav-item ng-star-inserted" id="menu_drop_down_right0">
                      <a class="nav-link ps-0 ng-star-inserted" href="/it/guide-223180/sportello-al-cittadino-sac-193935">Sportello SAC</a>
                    </li>
                    <li class="nav-item ng-star-inserted" id="menu_drop_down_right1">
                      <a class="nav-link ng-star-inserted" href="/it/guide-223180">Guide</a>
                    </li>
                    <li class="nav-item ng-star-inserted" id="menu_drop_down_right2">
                      <a class="nav-link fw-bold ng-star-inserted" href="it/categories" data-element="all-topics">Argomenti</a>
                    </li>
                  </ul>

                </div>
              </div>

            </nav>
          </div>
        </div>
      </div>
    </div>

  </div>
</header>
