<div class="it-header-wrapper">
  <div class="it-header-slim-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-header-slim-wrapper-content">
          <a class="d-none d-lg-block navbar-brand" href="https://gabrieljones.it/progetti/"> 
            Scopri tutti i progetti di gabrieljones.it
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="it-nav-wrapper">
  <div class="it-header-center-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="it-header-center-content-wrapper">
            <div class="it-brand-wrapper">
              <a href="/">
              <img src="https://www.comune.trieste.it/assets/logo.png" alt="Logo" class="icon icon-sm me-2" width="40" height="40">
                <div class="container">
                  <h2 class="no_toc">Gabriel Jones</h2>
                  <h3 class="no_toc d-none d-md-block">Animazione, Bibliotecario, Politico e questa è solo una piccola parte del mio enorme mondo</h3>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
