<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  {{ partial "head" . }}
  <style>
            body {
            font-family: Arial, sans-serif;
        }
            img {
              width: 70%;
              height: auto;
              display: block;
              margin: 0 auto;
          }

  </style>
  <body class="sans-serif">

    {{ block "header" . }}{{ partial "nav" . }}{{end}}

  <div class="container">
<script type="text/javascript" src="https://www.protezionecivile.fvg.it/widgets/pcrfvgit_alert.js"></script><div class="pcrfvgit_alert_widget" data-istatcode="93022"></div></div>
    
    {{ block "main" . }}{{ end }}

    {{ block "footer" . }}{{ partial "footer" . }}{{end}}

    {{ $script := .Site.Data.webpack.main }}
    {{ with $script.js }}
      <script src="{{ relURL . }}"></script>
    {{ end }}
  </body>
</html>
